<div class="genre-container">
    <!-- Hero Section -->
    <div class="hero-section">
      <div class="hero-overlay">
        <div class="hero-content text-center">
          <h1 class="display-4 fw-bold text-white">METAL: Poder y Oscuridad</h1>
          <p class="lead text-white">Descubre las bandas más legendarias del metal y siente la fuerza de su sonido.</p>
        </div>
      </div>
    </div>
  
    <!-- Sección de Artistas Destacados -->
    <section class="artists-section py-5">
      <div class="container">
        <h2 class="text-center text-white mb-5">Bandas de Metal</h2>
        <div class="card-grid">
          <!-- Fila 1 -->
          <div class="card-row">
            <a routerLink="metallica" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">15 Mar</div>
                <div class="card" style="background-image: url('https://i.pinimg.com/736x/02/0a/1e/020a1e7c11e7e9745ea6b9ab6bbdc357.jpg'); background-size: cover;">
                  <div class="content">
                    <span>Metallica</span>
                    <p class="location">Madrid</p>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="ysya" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">20 Mar</div>
                <div class="card" style="background-image: url('https://pbs.twimg.com/media/Fl0Mp9IacAA3-5-.jpg'); background-size: cover; ">
                  <div class="content">
                    <span>YSY A</span>
                    <p class="location">VALENCIA</p>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="slipknot" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">25 Mar</div>
                <div class="card" style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bc73fb6a-0109-4c98-bbc6-dc9681d7dd12/d3c86io-8a1b7ad7-4a23-47e3-a049-19cdebb93301.jpg/v1/fill/w_720,h_935,q_75,strp/slipknot_by_thisistheartofruin_d3c86io-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTM1IiwicGF0aCI6IlwvZlwvYmM3M2ZiNmEtMDEwOS00Yzk4LWJiYzYtZGM5NjgxZDdkZDEyXC9kM2M4NmlvLThhMWI3YWQ3LTRhMjMtNDdlMy1hMDQ5LTE5Y2RlYmI5MzMwMS5qcGciLCJ3aWR0aCI6Ijw9NzIwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.GCb33i2OwCIsQREz8C2iHEm9eEnM6694L75fUobSbkE'); background-size: cover;">
                  <div class="content">
                    <span>Slipknot</span>
                    <p class="location">Valencia</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <!-- Fila 2 -->
          <div class="card-row">
            <a routerLink="rammstein" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">01 Abr</div>
                <div class="card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1c/Rammstein_Paris_2012.jpg'); background-size: cover;">
                  <div class="content">
                    <span>Rammstein</span>
                    <p class="location">Sevilla</p>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="megadeth" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">05 Abr</div>
                <div class="card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/24/Megadeth_live_2010.jpg'); background-size: cover;">
                  <div class="content">
                    <span>Megadeth</span>
                    <p class="location">Málaga</p>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="gojira" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">10 Abr</div>
                <div class="card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d4/Gojira_-_Rock_Hard_Festival_2022-2.jpg'); background-size: cover;">
                  <div class="content">
                    <span>Gojira</span>
                    <p class="location">Bilbao</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <!-- Fila 3 -->
          <div class="card-row">
            <a routerLink="avenged-sevenfold" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">15 Abr</div>
                <div class="card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e5/Avenged_Sevenfold_in_2023.jpg'); background-size: cover;">
                  <div class="content">
                    <span>Avenged Sevenfold</span>
                    <p class="location">Zaragoza</p>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="mastodon" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">20 Abr</div>
                <div class="card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/8f/Mastodon_%282022%29.png'); background-size: cover;">
                  <div class="content">
                    <span>Mastodon</span>
                    <p class="location">Granada</p>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="trivium" class="card-link">
              <div class="card-wrapper">
                <div class="date-banner">25 Abr</div>
                <div class="card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/15/Trivium_Rockharz_2022_14.jpg'); background-size: cover;">
                  <div class="content">
                    <span>Trivium</span>
                    <p class="location">Córdoba</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  