/* Hero Section */

.hero-container {
  position: relative;
  width: 100%;
  height: 60vh;
  background: url('https://files.soniccdn.com/images/articles/original/43114.jpg') no-repeat center center;
  background-size: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Gradiente de difuminado */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carrusel */
.carousel-section {
  background-color: #121212;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 0 50px; /* Espacio para las flechas */
}

.card-wrapper {
  position: relative;
  flex: 0 0 auto;
  width: 190px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

/* Estilo de la tarjeta */
.card {
  width: 190px;
  height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card .content {
  
  border-radius: 5px;
  width: 186px;
  height: 250px;
  z-index: 1;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.content span {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.content p.location {
  font-size: 14px;
  margin: 0;
}

/* Efecto de hover */
.content::before {
  opacity: 0;
  content: " ";
  display: block;
  background: white;
  width: 5px;
  height: 50px;
  position: absolute;
  filter: blur(50px);
  overflow: hidden;
}


.card::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 70px;
  height: 360px;
  background: linear-gradient(rgba(255, 34, 136, 0.5), rgba(56, 126, 240, 0.5));
  transition: opacity 300ms;
  animation: rotation_9018 8000ms infinite linear;
  animation-play-state: paused;
}


.card:hover::before {
  opacity: 1;
  animation-play-state: running;
}



@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Lienzo de la fecha */
.date-banner {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
}

/* Flechas */
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.carousel-arrow.prev {
  left: 10px;
}

.carousel-arrow.next {
  right: 10px;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}