/* Elimina márgenes y ajusta el body */
html, body {

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Contenedor que ocupa toda la pantalla con imagen de fondo */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
}



/* Tarjeta centrada */
.card {

  width: 50%;
  background-color: rgba(18, 18, 18, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  color: white;

}

/* Estilo de la imagen del artista */
.artist-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Estilo del nombre del artista */
.artist-name {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Estilo de la descripción */
.artist-description {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.5;
  max-height: 9rem; /* Limita a 6 líneas */
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Estilo del botón */
.buy-ticket-button {
  background-color: #D39E10;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out; /* Transición suave */
}

.buy-ticket-button:hover {
  background-color: #b38c0f;
}

.buy-ticket-button:focus-visible {
  outline: 2px solid #ffffff; /* Mantiene accesibilidad para navegación con teclado */
}

/* Responsive design */
@media (max-width: 768px) {
  .card {
    width: 80%;
  }

  .artist-name {
    font-size: 1.5rem;
  }

  .artist-description {
    font-size: 0.9rem;
  }
}
